src/wsdl/localhost_11080/BankingService/BankingServiceBean.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3.payara-p1 (PAYARA-3387-9851016; 2019-02-26T15:45:41+0000) JAXWS-RI/2.3.2.payara-p1 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://facade.paymentmgmt.bank.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://facade.paymentmgmt.bank.com/">

<xs:element name="paymentOperation" type="tns:paymentOperation"/>

<xs:element name="paymentOperationResponse" type="tns:paymentOperationResponse"/>

<xs:complexType name="paymentOperation">
<xs:sequence>
<xs:element name="cardNumber" type="xs:string" minOccurs="0"/>
<xs:element name="amountPaid" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="paymentOperationResponse">
<xs:sequence>
<xs:element name="acceptedPayment" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>